<div class="form-group">
  <label>Name</label>
  <%= f.text_field :name, class: 'form-control', placeholder: 'Criteria Name' %>
</div>

<div class="form-group">
  <label>Score (%)</label>
  <%= f.text_field :score, class: 'form-control', placeholder: 'Score' %>
</div>
