<%= render 'shareds/breadcrumb' %>

<%= form_for @criterium, url: criterium_path(@criterium), method: 'put' do |f| %>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Criteria Info</h3>
          </div>
            <div class="box-body">
              <%= render 'form', f: f %>
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
