<%= render 'shareds/breadcrumb' %>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lists</h3>
        </div>

        <div class="box-body table-responsive">
          <table id="example2" class="table table-bordered table-hover datatable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Score (%)</th>
                <th width="20%">Action</th>
              </tr>
            </thead>
            <tbody>
              <% @criteria.each_with_index do |resource, index| %>
                <tr>
                  <td><%= resource.name %></td>
                  <td><%= resource.score * 100 %> %</td>
                  <td>

                    <i class="fa fa-fw fa-pencil"></i>
                    <%= link_to 'Edit', edit_criterium_path(resource) %>
                    <i class="fa fa-fw fa-trash"></i>
                    <%= link_to 'Delete', criterium_path(resource), method: :delete, data:{ confirm: 'are you sure?' } %>

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= paginate @criteria %>
      </div>
    </div>
  </div>
</section>
