<%= render 'shareds/breadcrumb' %>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Admin Lists</h3>
        </div>

        <div class="box-body table-responsive">
          <table id="example2" class="table table-bordered table-hover datatable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              <% @admins.each_with_index do |resource, index| %>
                <tr>
                  <td><%= resource.username %></td>
                  <td><%= resource.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= paginate @admins %>
      </div>
    </div>
  </div>
</section>
