<div class="login-logo">
  <%= link_to root_path do %>
    <b> LOGIN ADMIN </b>
  <% end %>
</div><!-- /.login-logo -->
<div class="login-box-body">
  <p class="login-box-msg">Sign in to start your session</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group has-feedback">
      <%= f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control' %>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %>
            Remember ME
          <% end %>
        </div>
      </div><!-- /.col -->
      <div class="col-xs-4">
        <%= f.submit "Sign In", class: 'btn btn-primary btn-block btn-flat' %>
      </div><!-- /.col -->
    </div>
  <% end %>

  <%= link_to "I Forgot my password?", new_password_path(resource_name) %><br />
</div><!-- /.login-box-body -->
