<section class="content-header">
  <h1>
    <%= params[:controller].titleize %>
    <small><%= params[:action].titleize %></small>
  </h1>
  <ol class="breadcrumb">
    <li><%=link_to root_path do %>
          <i class="fa fa-dashboard"></i> Home</a>
        <% end %>
    </li>
    <li class="active"><%= params[:controller] %></li>
  </ol>
</section>
