<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.0
  </div>
  <strong>Copyright &copy; 2016 <a href="http://almsaeedstudio.com"></a>.Asrifidianty-For Thesis Purposes</strong> All rights reserved.
</footer>
