<header class="main-header">
  <!-- Logo -->
  <%= link_to root_path, class: 'logo' do %>
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>Lab TI</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>LAB TI Selection</b></span>
  <% end %>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag current_admin.avatar, class: 'user-image', alt: current_admin.email %>
            <span class="hidden-xs"><%= current_admin.email %></span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <%= image_tag current_admin.avatar, class: 'img-circle', alt: current_admin.email %>
              <p>
                <%= current_admin.email %>
                <small>Since <%= current_admin.created_at.strftime('%B %Y') %></small>
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <%= link_to 'Sign out', destroy_admin_session_path, method: 'delete', class: 'btn btn-default btn-flat' %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
