<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag current_admin.avatar.url(:thumb), class: 'img-circle', alt: current_admin.email %>
      </div>
      <div class="pull-left info">
        <p><%= current_admin.email %></p>

        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class ="<%= active_class('dashboard')%>"> <%= link_to root_path do %>
            <i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
          <% end %>
      </li>
      <li class="<%= active_class('admins')%> treeview">
        <a href="#">
          <i class="fa fa-user-secret"></i> <span>Admins</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="">
            <%= link_to admins_path  do %>
              <i class="fa fa-circle-o"></i> Admin Lists </a>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="header">INPUT DATA</li>
      <li class="<%= active_class('candidates')%> treeview">
        <a href="#">
          <i class="fa fa-group"></i> <span>Assistant Candidates</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li class="">
            <%= link_to candidates_path  do %>
              <i class="fa fa-circle-o"></i> Candidates Lists </a>
            <% end %>
          </li>
          <li>
            <%= link_to new_candidate_path  do %>
              <i class="fa fa-plus-circle"></i> New Candidates </a>
            <% end %>
          </li>
        </ul>
      </li>

      <li class="<%= active_class('criteria')%> treeview">
        <a href="#">
          <i class="fa fa-list-ol"></i> <span>Criteria</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li>
            <%= link_to criteria_path  do %>
              <i class="fa fa-circle-o"></i> Criteria Lists </a>
            <% end %>
          </li>
          <li>
            <%= link_to new_criterium_path  do %>
              <i class="fa fa-plus-circle"></i> New Criteria </a>
            <% end %>
          </li>
        </ul>
      </li>
      <li class="header">SELECTION</li>
      <li class="<%= active_class('selections')%>"> <%= link_to selections_path do %>
            <i class="fa fa-spinner text-red"></i> <span>Results</span></a>
          <% end %>
      </li>


    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
