<div class="form-group">
  <label>Name</label>
  <%= f.text_field :name, class: 'form-control', placeholder: 'FullName', required: true %>
</div>

<div class="form-group">
  <label>Student ID/ NPM</label>
  <%= f.text_field :npm, class: 'form-control', placeholder: 'Student ID/NPM', required: true %>
</div>
