<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Grade</h3>
    </div>
    <div class="box-body">
      <%= f.fields_for :candidate_grades do |grade| %>
        <%= render 'candidates/grade_fields', f: grade %>
      <% end %>
    </div>
  </div>
</div>

