<div class='nested-fields col-md-6'>
  <div class="form-group">
    <label> <%=f.object.criterium.name.titleize %></label>
    <div class='col-md-12'>
      <div class='col-md-3'>
        <label>Grade/ Nilai</label>
      </div>
      <div class='col-md-6'>
        <%= f.number_field :grade, class: 'form-control', placeholder: 'Grade / Nilai' , required: true %>
        <%= f.hidden_field :criterium_id, :value => f.object.criterium_id%>
      </div>
    </div>
  </div>
</div>
