<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Profile Info</h3>
    </div>
      <div class="box-body">
        <div class="form-group">
          <label>GPA / IPK</label>
            <%= f.text_field :gpa, class: 'form-control', placeholder: 'GPA/IPK semester terakhir' %>
          </div>

          <div class="form-group">
            <label>Faculty/Facultas</label>
            <%= f.text_field :faculty, class: 'form-control', placeholder: 'Faculty' %>
          </div>

          <div class="form-group">
            <label>Department/Jurusan</label>
            <%= f.text_field :department, class: 'form-control', placeholder: 'Department / Jurusan' %>
          </div>

          <div class="form-group">
            <label>Term/ Semester yang dijalani</label>
            <%= f.text_field :term, class: 'form-control', placeholder: 'Semester' %>
          </div>

          <div class="form-group">
            <label>Class</label>
            <%= f.text_field :class_name, class: 'form-control', placeholder: 'Kelas saat ini' %>
          </div>

          <div class="form-group">
            <label>Home Address/ Alamat Rumah</label>
            <%= f.text_area :address, class: 'form-control', placeholder: 'Semester' %>
          </div>

          <div class="form-group">
            <label>Birth Date</label>
            <%= f.text_field :birthdate, class: 'form-control', placeholder: 'datepicker Tanggal Lahir' %>
          </div>

          <div class="form-group">
            <label>Phone Number</label>
            <%= f.number_field :phone_number, class: 'form-control', placeholder: 'Phone Number' %>
          </div>

          <div class="form-group">
            <label>Mobile Number</label>
            <%= f.number_field :mobile_number, class: 'form-control', placeholder: 'Mobile Number' %>
          </div>


      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
  </div>
</div>



