<%= render 'shareds/breadcrumb' %>

<%= form_for @candidate, url: candidate_path(@candidate), method: 'put' do |f| %>
  <%= f.fields_for :profile do |prf| %>
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Basic Info</h3>
            </div>
            <div class="box-body">
              <%= render 'form', f: f %>
            </div>
          </div>
        </div>
        <%= render 'grades', f: f %>
        <%= render 'profile', f: prf %>
      </div>
    </section>
  <% end %>
<% end %>
