<%= render 'shareds/breadcrumb' %>

<section class="content">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-sm-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lists</h3>
        </div>

        <div class="box-body table-responsive">
          <table id="example2" class="table table-bordered table-hover datatable">
            <thead>
              <tr >
                <th class='text-center'>NO</th>
                <th class='text-center'>Student ID / NPM</th>
                <th class='text-center'>Name</th>
                <% @criteria.all.each do |criteria| %>
                  <th width="10%" class='text-center'><%= criteria.name.titleize %></th>
                <%end%>
                <th width="25%" class='text-center'>Action</th>
              </tr>
            </thead>
            <tbody>
              <% @candidates.each_with_index do |resource, index| %>
                <tr>
                  <td  class='text-center'><%=index+1%></td>
                  <td><%= link_to resource.npm, candidate_path(resource) %></td>
                  <td><%= resource.name %></td>
                  <% @criteria.all.each.each do |criterium|%>
                   <% criteria_grade = resource.candidate_grades.bonds.find_or_create_by('criteria.name': criterium.name).grade rescue resource.build_grade(criterium).grade %>
                    <td class = <%='zero-grade' if criteria_grade == 0%>> <%=criteria_grade%> </td>
                  <% end %>
                  <td class='text-center'>
                    <i class="fa fa-fw fa-pencil"></i>
                    <%= link_to 'Edit', edit_candidate_path(resource) %>
                    <i class="fa fa-fw fa-trash"></i>
                    <%= link_to 'Delete', candidate_path(resource), method: :delete, data:{ confirm: 'are you sure?' } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="box-footer">
          <div class='text-center'>
            <%= link_to 'Process Ranking', selections_path, class: 'btn btn-warning', method: :post%>
          </div>
        </div>
        <%= paginate @candidates %>
      </div>
    </div>
  </div>
</section>
