<%= render 'shareds/breadcrumb' %>
<br>
<%profile = @candidate.profile%>
<div class='container'>
  <div class='col-md-9 col-md-offset-1'>
    <div class="box box-primary">
      <div class="box-body box-profile">
        <h3 class="profile-username text-center"><%= @candidate.name.titleize %></h3>

        <p class="text-muted text-center"><%= @candidate.npm.upcase %></p>
        <div class='col-md-8 col-md-offset-2'>
           <ul class="list-group">
            <li class="list-group-item">
              <b>Preference Score</b> <a class="pull-right"><%= @candidate.reference_score %></a>
            </li>
            <li class="list-group-item">
              <%Criterium.all.each do |criterium|%>
                <b><%=criterium.name%></b> <a class="pull-right"><%= CandidateGrade.find_by(assistant_candidate_id: @candidate.id, criterium_id: criterium.id).grade rescue '0'%></a><br>
              <% end%>
            </li>
          </ul>
        </div>

        <div class='col-md-8 col-md-offset-2'>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>Fakultas</b> <span class="pull-right"><%= profile.faculty %></span >
            </li>

            <li class="list-group-item">
              <b>Jurusan</b> <span class="pull-right"><%= profile.department %></span  >
            </li>
            <li class="list-group-item">
              <b>IPK Terakhir</b> <span class="pull-right"><%= profile.gpa %></span >
            </li>
            <li class="list-group-item">
              <b>Semester yang dijalani</b> <span class="pull-right"><%= profile.term %></span  >
            </li>
            <li class="list-group-item">
              <b>Kelas</b> <span class="pull-right"><%= profile.class_name %></span >
            </li>
            <li class="list-group-item">
              <b>Tanggal Lahir</b> <span class="pull-right"><%= profile.birthdate %></span  >
            </li>
            <li class="list-group-item">
              <b>Alamat Rumah</b> <br>
              <%= profile.address %>
            </li>
            <li class="list-group-item">
              <b>No. Handphone</b> <span class="pull-right"><%= profile.mobile_number %></span  >
            </li>
            <li class="list-group-item">
              <b>No. Telepon</b> <span class="pull-right"><%= profile.phone_number %></span >
            </li>
          </ul>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</div>
