<% @matching_values.criteria_sets.each do |key, values| %>
  <%=key%><br>
  <%values.each do |key, val|%>
    <%=val%><br>
  <%end %> <br><br>
<% end %>

<br><br>
<% @matching_values.process.each do |value| %>
  <%=value%> <br>
<% end rescue 'error' %>

<br><br>
<% @optimums.process.each do |value| %>
  <%=value%> <br>
<% end rescue 'error'%>

<br><br>
<% @rangkings.get_ranking_values.each do |value| %>
  <%=value%> <br>
<% end rescue 'error'%>

