<%= render 'shareds/breadcrumb' %>

<section class="content">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Candidates by Ranking</h3>
          <div class='pull-right'>
            <%= link_to 'Reprocess Ranking', selections_path, class: 'btn btn-warning', method: :post%>
          </div>
        </div>

        <div class="box-body table-responsive">
          <table id="example2" class="table table-bordered table-hover datatable">
            <thead>
              <tr >
                <th class='text-center'>RANKING</th>
                <th class='text-center'>Student ID / NPM</th>
                <th class='text-center'>Name</th>
                <th class='text-center'>Preference Score</th>
              </tr>
            </thead>
            <tbody>
              <% @candidates.each_with_index do |resource, index| %>
                <tr>
                  <td  class='text-center'><b><%=index+1%></b></td>
                  <td><%= link_to resource.npm, candidate_path(resource) %></td>
                  <td><%= resource.name %></td>
                  <td><%= resource.reference_score %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <%= paginate @candidates %>
      </div>
    </div>
  </div>
</section>
