<!DOCTYPE html>
<html>
  <head>
    <title>Lab TI Assistant Selection</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="skin-blue sidebar-mini">
    <div class="wrapper">

      <%= render 'shareds/header' %>
      <%= render 'shareds/sidebar' %>

      <div class="content-wrapper">
        <%= bootstrap_flash %>
        <%= yield %>
      </div>

      <%= render 'shareds/sidebar' %>

    </div>

    <%= javascript_include_tag 'application'%>
  </body>
</html>
