<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <%= stylesheet_link_tag 'login' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="login-page">
    <div class="login-box">

      <%= yield %>

    </div>
    <%= javascript_include_tag 'login' %>
  </body>
</html>
